.logo-sashimiya{
    padding: 0px;   
}

.logo-sashimiya img {
    height: 70px;
}

.sashimi-topbar {
    min-height: 70px;
}

@media (min-width: 768px)
{
    .navbar-nav>li>a {
        padding-top: 24px;
        padding-bottom: 20px;
    }
}

#carousel-example-generic {
    height: auto;
    width: 100%;
}


#contact-us
{
    /*background-image: url(../img/background-contact-us.jpg);
    position: relative;*/
    padding: 100px 0 100px 0;
}

.contact-us-container{
    display: table;
    padding-bottom: 20px;
}

.contact-us-form {
    display: table-cell; 
    float:none;
    color: white;
}

#where-are-we{
    height: 500px;
}

#where-are-we-map{
    height: 500px;
}